@import 'global.css';
/* estilo global para los colores de la página 
hay 4 colores para mantener el estilo global de la página. El modo de usarlos es:
var(--color-primario)
var(--color-secundario)
var(--color-terciario)
var(--color-cuaternario)

ejemplo:     <color: var(--color-primario);>
*/

body{
    background-color: rgb(90, 90, 90);

}

.title{
    text-align: center;
    color: white;
}

.container-cards{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 320px;
    background-size: cover;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    margin: 20px auto;
    background-color: rgb(226, 226, 226);
}

.card-img{
    width: 100%;
    height: 250px;
    border-radius: 10px ;

}

.card-info{
    width: 100%;
    text-align: center;
}

.card-info-description{
 font-size: 15px;
 color: #3f3f3f;

}

.card-info--title{
    font-size: 25px;
    color: #525252;
}

.card-info--subTitle{
    font-size: 20px;
    color: #595959;

}

hr{
    width: 80%;
}

.card-button{
    width: 70%;
    height: 35px;
    background-color: rgb(30, 103, 229);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


@media (min-width: 769px) {

    .card{
        margin: auto;
        width: 80%;
        display: flex;
        margin-bottom: 20px;
    }

    .card-img{
        height: 250px;
        width: 60%;
    }

    .card-info-description{
        width: 90%;
        margin:20px  auto;
    }
    
    
}
  

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
}

.confirm-button {
    background-color: rgb(30, 103, 229);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.close {
    top: 10px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
}

.modal-title{

    font-size: 25px;

}

.modal-number{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    border: solid 2px #ccc;
    font-size: 20px;
    outline: none;
}