@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-primario: #EEEEEE;
    --color-secundario: #00ADB5;
    --color-terciario: #393E46;
    --color-cuaternario: #222831;
}

body{
    background-color: var(--color-cuaternario);
}

.text-color-primario{
    color: var(--color-primario);
}

.text-color-secundario{
    color: var(--color-secundario);
}

.text-color-terciario{
    color: var(--color-terciario);
}

.text-color-cuaternario{
    color: var(--color-cuaternario);
}

.bg-color-primario{
    background-color: var(--color-primario);
}

.bg-color-secundario{
    background-color: var(--color-secundario);
}

.bg-color-terciario{
    background-color: var(--color-terciario);
}

.bg-color-cuaternario{
    background-color: var(--color-cuaternario);
}


.logo-img{
    width: 110px;
}

.text-link{
    color: var(--color-primario) ;
    font-family: 'Roboto', sans-serif;

}

.user-button{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    border-radius: 10px !important;
    width: 100px;
    color: var(--color-cuaternario) ;
    font-family: 'Inter', sans-serif;
    font-weight: 600;


}

.user-button:hover{
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-terciario);
}

.header_basic{
    display: flex; 
    font-size: 20px;
    justify-content: space-around; 
    margin-top: 10px;
    align-items: center;
}

.inter{
    font-family: Inter;
}

footer{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#00ADB5; 
} 
