@import 'global.css';
/* estilo global para los colores de la página 
hay 4 colores para mantener el estilo global de la página. El modo de usarlos es:
var(--color-primario)
var(--color-secundario)
var(--color-terciario)
var(--color-cuaternario)

ejemplo:     <color: var(--color-primario);>
*/
html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1A1A1A;
    color: #fff8da;
}


.logo{
    display: flex;
}

a{
    text-decoration: none;
    color: #fff8da;
}

.logo{
    display: flex;
    margin-left: 20px;
}

.logo img{
    width: 110px;
}

.hambur-portada img {
    width: 100%;
    max-height: 20vw;
    object-fit: cover;
}


nav a{
    font-weight: 600;
    padding-right: 40px;
    
}

.nav_barra{
    display: flex;
    justify-content: center;
}

.nav_login{
    margin-left: 300px;
}


nav a:hover{
    color: crimson;
}

/* section{
    margin-left: 10px;
} */

#texto, #texto2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3%;
    margin-top: 3%;
}

#headings, #headings2{
    color:#00ADB5;
    font-family: 'Roboto', sans-serif;
}

hr {
    width: 50%; 
    margin: 0 auto;
    size:2px;
    width:80%;
    color: #EEEEEE;
    box-shadow: 0px 4px 4px rgb(255, 255, 255);
}

/* Estilo para carrusel */
.carousel-inner{
    margin-bottom: 3%;
    margin-top: 3%;
}
.comentario {
    color: #1A1A1A;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #fff8da;
    border-radius: 10px; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
    color: #333; 
}

footer{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#00acb561; 
} 

#lista {
    font-size: 2rem;
}

#conocenoslink{
    color: #00ADB5;
    font-size: 1rem;
}

/* RESPONSIVE */
/* @media (max-width:700px){

}

@media (width >= 375px) {
}

@media (375px <= width <= 768px) {  } */

@media (width <= 768px) {
        .header_basic{
            flex-direction: column;
            
    }
    nav a{
        font-size:20px;
    }

}

@media (max-width: 768px) {
    .carousel-inner{
        margin-bottom: 30%;
        margin-top: 30%;
    }
    .comentario {
        background-size: 150% auto; /* Aumentar el ancho del fondo en dispositivos más pequeños */
    }
}