@import 'global.css';
/* estilo global para los colores de la página 
hay 4 colores para mantener el estilo global de la página. El modo de usarlos es:
var(--color-primario)
var(--color-secundario)
var(--color-terciario)
var(--color-cuaternario)

ejemplo:     <color: var(--color-primario);>
*/

  .contenedor__todo{
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;
    }
  
    
  .contenedor__registro{
 
    position: absolute;
top: -40%;
    left: 25%;
    right: 40%;
    width: 50%;
    max-width: 380px;

 }
  .body{
    background-color:#393E46;

}
  
  .contenedor__registro form{
    width: 100%;
    margin: auto;
    margin-top:500px;
    margin-left: 150px;
    padding: 20px 40px;
    background:  #e6ebedef;
    position: absolute;
    border-radius: 20px;
  }
  
  .contenedor__registro form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #fefeffdd;
    font-size: 16px;
    outline: none;
  }
  
  .contenedor__registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:#00ADB5;
  }
  .contenedor__registro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;  
    background: #00ADB5;;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
  }

  @media (width <= 768px) {
    .header_basic{
        flex-direction: column;
        
}
nav a{
    font-size:20px;
}
}
