@import 'global.css';
/* estilo global para los colores de la página 
hay 4 colores para mantener el estilo global de la página. El modo de usarlos es:
var(--color-primario)
var(--color-secundario)
var(--color-terciario)
var(--color-cuaternario)

ejemplo:     <color: var(--color-primario);>
*/

 
.img-wrapper{
	width: 200px;
	height: 300px;
	position: relative;
	overflow: hidden;
    display: inline-block;
    margin: 20px 10px;
}

.img-wrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before{
	left: -180%;
}

.img-wrapper img{
	height: 300px;
	width: 200px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper p{
	text-transform: uppercase;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover p{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul li{
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1){
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2){
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3){
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4){
	transition-delay: 1s;
}

.img-wrapper ul li i:hover{
	color: var(--color-primario);
}

footer{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#00acb561; 
} 

#lista {
    font-size: 2rem;
}

#conocenoslink{
    color: #00ADB5;
    font-size: 1rem;
}
