@import 'global.css';

h1 {
    text-align: center;
}
h2 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid var(--color-secundario);
    background-color: var(--color-secundario);
    border-radius: 5px;
    cursor: pointer;
}

.btn-volver{
    width: 150px;
}

.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
    width: 150px;
}
.mt-3 {
    margin-top: 2rem;
}
.d-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}
.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 500px;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: var(--color-cuaternario);
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: var(--color-terciario);
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li div .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: var(--color-primario) !important;
    border: 1px solid var(--color-secundario);
    color: var(--color-secundario);
    font-weight: 700;
}
.form-stepper .form-stepper-active .label {
    color: var(--color-secundario) !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: var(--color-primario);
    border: 1px solid var(--color-cuaternario);
    color: var(--color-cuaternario);
    font-weight: 700;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: var(--color-secundario) ;
    color: var(--color-primario);
    font-weight: 700;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: var(--color-secundario) !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper div {
    cursor: default;
}

.clickable {
    /* pointer-events: none !important; */
    border-color: var(--color-secundario);
}

.clickable:hover {
    /* pointer-events: none !important; */
    background-color: #0e9594;
    color: var(--color-primario);
}

.unclickable {
    pointer-events: none !important;
    /* background-color: var(--color-secundario);
    color: var(--color-primario); */
    background-color: var(--color-secundario);

}

.thumbnail-img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }
  
  /* Add a hover effect (blue shadow) */
.thumbnail-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

#credit-number{
    -moz-appearance: textfield;
}

.card-container{
    height: 55px;
    width: 110px;

    flex-wrap: wrap;
}

.radio-card{
    margin-top: 15px;
}

.tarjeta-img{
    height: 45px;
}

.codigo-tarjeta{
    width: 150px;
}

footer{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#00acb561; 
} 

#lista {
    font-size: 2rem;
}

#conocenoslink{
    color: #00ADB5;
    font-size: 1rem;
}