@import 'global.css';
/* estilo global para los colores de la página 
hay 4 colores para mantener el estilo global de la página. El modo de usarlos es:
var(--color-primario)
var(--color-secundario)
var(--color-terciario)
var(--color-cuaternario)

ejemplo:     <color: var(--color-primario);>
*/



a{
    text-decoration: none;
}

.input-style{
    background-color: rgba(0,0,0,0);
    border-color: var(--color-secundario);

}

.textarea-message{
    resize: none;
    height: 150px !important;
    background-color: rgba(0,0,0,0);
    border-color: var(--color-secundario);

}

.modal-cerveux{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
  
  }

  .modal-cerveux.is-open{
    display: grid;
  }

  .success-message{
    width: 18rem;

  }

  footer{
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color:#00acb561; 
} 

#lista {
    font-size: 2rem;
}

#conocenoslink{
    color: #00ADB5;
    font-size: 1rem;
}


